body {
    /* background: rgb(36,48,40);
    background: linear-gradient(90deg, rgba(36,48,40,1) 0%, rgb(35, 84, 139) 48%, rgb(23, 14, 160) 100%); */
    background-image: url(wallpaperbk4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}